[package]
name = "chirpstack-mqtt-forwarder"
description = "ChirpStack MQTT Forwarder"
repository = "https://github.com/chirpstack/chirpstack-mqtt-forwarder"
homepage = "https://www.chirpstack.io/"
license = "MIT"
version = "4.0.0"
authors = ["Orne Brocaar <info@brocaar.com>"]
edition = "2021"
publish = false

[dependencies]
clap = { version = "4.3", default-features = false, features = [
    "std",
    "help",
    "usage",
    "derive",
] }
chirpstack_api = { version = "4.3.1", default-features = false, features = [
    "json",
] }
lrwn_filters = { version = "4.3.3-test.1", features = ["serde"] }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
log = "0.4"
simple_logger = "4.1"
syslog = "6.1"
prost = "0.11"
anyhow = "1.0"
toml = "0.7"
once_cell = "1.17"
chrono = "0.4"
signal-hook = "0.3"
hex = "0.4"
base64 = "0.21"
rand = "0.8"
pbjson-types = "0.5"
paho-mqtt = { version = "0.12", features = ["ssl", "build_bindgen"] }
handlebars = "4.3"
tokio = { version = "1.28", features = [
    "macros",
    "rt-multi-thread",
    "net",
    "process",
    "io-util",
    "sync",
    "time",
] }
futures = "0.3"
async-trait = "0.1"
zmq = { version = "0.10", optional = true }

[dev-dependencies]
dotenv = "0.15"

[features]
default = ["semtech_udp", "concentratord"]
semtech_udp = []
concentratord = ["zmq"]

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
