[package]
name = "chirpstack-mqtt-forwarder"
description = "ChirpStack MQTT Forwarder"
repository = "https://github.com/chirpstack/chirpstack-mqtt-forwarder"
homepage = "https://www.chirpstack.io/"
license = "MIT"
version = "4.0.0"
authors = ["Orne Brocaar <info@brocaar.com>"]
edition = "2018"
publish = false

[dependencies]
clap = { version = "4.1", default-features = false, features = [
    "std",
    "help",
    "usage",
    "derive",
] }
chirpstack_api = { version = "4.3.0", default-features = false }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
log = "0.4"
simple_logger = "4.0"
syslog = "6.0"
prost = "0.11"
anyhow = "1.0"
toml = "0.7"
once_cell = "1.17"
chrono = "0.4"
signal-hook = "0.3"
hex = "0.4"
regex = { version = "1.7", default-features = false }
base64 = "0.21"
rand = "0.8"
pbjson-types = "0.5"
paho-mqtt = { version = "0.12", features = ["vendored-ssl", "build_bindgen"] }
handlebars = "4.3"
tokio = { version = "1.26", features = [
    "macros",
    "rt-multi-thread",
    "net",
    "process",
    "io-util",
] }
futures = "0.3"
async-trait = "0.1"
zmq = { version = "0.10", optional = true }

[features]
default = ["semtech_udp", "concentratord"]
semtech_udp = []
concentratord = ["zmq"]

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
